<div id="header">
  <img src="/images/top_left.png" alt="" style="float: left;">
  
  <div class="float_center">
    <form name="input" action="/show-me-all" method="post">
    <input type="text" name="searched_str" placeholder="show me all search">
    <input type="image" src="/images/search.png">
    </form>
  </div>

  <img src="/images/top_right.png" alt="" style="float: right;">
</div>


<div id="main">
  <a href="/">return to home page</a>
  <h1> puts first video to iframe, and puts all other videos on the side</h1>


  <!-- http://stackoverflow.com/questions/15718894/hide-frame-progress-bar-and-buttons-from-youtube-film -->

  <iframe width="560" height="315" src="//www.youtube.com/embed/<%=  @video_id  %>?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>

  <h4> <%=  @video_title  %> </h4>

</div>



<div class="video_entry_container"> 
  <% if defined? @all_other_videos %>
    <% @all_other_videos.each do |video| %>
      <div class="video_entry clearfix"> 
          <a href="/show-me-all/video/link/<%= video[:video_id] %>">
            <img src="<%= video[:video_thumbnails_url] %>">
          </a>   
          <a href="/show-me-all/video/link/<%= video[:video_id] %>"><%= video[:video_title] %></a> <br>

      </div>
    <% end %>
  <% end %>
</div>

