<div id="header">
  <img src="/images/top_left.png" alt="" style="float: left;">
  
  <div class="float_center">
    <form name="input" action="/show-me-groups" method="post">
    <input type="text" name="searched_str" placeholder="show me groups search">
    <input type="image" src="/images/search.png">
    </form>
  </div>

  <img src="/images/top_right.png" alt="" style="float: right;">
</div>


<div id="main">
  <a href="/">return to home page</a>
  <h1> puts first video to iframe, and puts other videos on the side inside groups</h1>


  <!-- http://stackoverflow.com/questions/15718894/hide-frame-progress-bar-and-buttons-from-youtube-film -->
  <% if defined? @video_id_NEW %>
  <iframe width="560" height="315" src="//www.youtube.com/embed/<%=  @video_id_NEW  %>?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
  <% else %>
  <iframe width="560" height="315" src="//www.youtube.com/embed/<%=  @video_id  %>?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
  <% end %>

  <% if defined? @video_title_NEW %>
  <h4> <%=  @video_title_NEW  %> </h4>
  <% else %>
  <h4> <%=  @video_title  %> </h4>
  <% end %>

  <% if defined? @video_group_id %>
    <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= params[:video_group_id] %>&game=<%= params[:game].to_i - 1 %>">previous game in the series</a> <br>
    <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= params[:video_group_id] %>&game=<%= params[:game].to_i + 1 %>">next game in the series</a>
  <% end %>

</div>



<div class="video_entry_container"> 
  <% if defined? @all_other_videos %>
    <h3>Related videos</h3>
    <% @all_other_videos.each do |video| %>
      <div class="video_entry clearfix"> 
          <a href="/show-me-groups/video/link/<%= video[:video_id] %>">
            <img src="<%= video[:video_thumbnails_url] %>">
          </a>   
          <a href="/show-me-groups/video/link/<%= video[:video_id] %>"><%= video[:video_title] %></a> <br>

      </div>
    <% end %>
  <% end %>
</div>


<div class="box_below_main"> 
  <% if defined? @all_video_groups %>
    <h3>Related videos, grouped</h3>
    <% @all_video_groups.each do |vg| %>
      <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= vg.id %>&game=0">
      <h3><%= "#{vg.group_title}, contains: #{vg.videos.count} video(s)" %></h3>
      </a>  
      <img src="<%= vg.videos.first[:video_thumbnails_url] %>">
    <% end %>
  <% end %>
</div>

<div class="video_entry_container2"> 
  <% if defined? @video_group_id %>
    <h3>videos in the group</h3>
    atm, the main video is not changed 
    <h4>video_group_id = <%= @video_group_id %></h4>

    <% @related_videos.each do |video| %>
      <div class="video_entry clearfix"> 
            <img src="<%= video[:video_thumbnails_url] %>">
          <%= video[:video_title] %> <br>
      </div>
    <% end %>
  <% end %>
</div>




















