<div class="container">
  <div class="row clearfix">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <img src="/images/top_left.png" alt="">

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search" id="search_form" name="input" action="/show-me-groups" method="post">
            <div class="form-group">
              <input type="text" name="searched_str" class="form-control" placeholder="Search SERIES">
            </div>
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>  
            </button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li>
                <img src="/images/top_right.png" alt="">
                
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->


      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <div class="row clearfix">
    <div class="col-md-8 column">

  <!-- http://stackoverflow.com/questions/15718894/hide-frame-progress-bar-and-buttons-from-youtube-film -->
      <div class="flex-video widescreen">
        <% if defined? @video_id_NEW %>
        <iframe src="//www.youtube.com/embed/<%=  @video_id_NEW  %>?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <% else %>
        <iframe src="//www.youtube.com/embed/<%=  @video_id  %>?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        <% end %>
      </div>

      

      <div class="panel panel-default">
        <div class="panel-body"> <h4>
          <% if defined? @video_title_NEW %>
            <%=  @video_title_NEW  %>
          <% else %>
            <%=  @video_title  %>
          <% end %> 
        </h4></div>
      </div>
 

      <% if defined? @video_group_id %>
        <div class="btn-group btn-group-md">

           <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= params[:video_group_id] %>&game=<%= 
           if @no_more_videos_flag
            params[:game].to_i - 2 
           else
            params[:game].to_i<=0? 0 : params[:game].to_i - 1 
           end
           %>">

             <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-fast-backward"></em> 
             Previous Game
             </button>  
           </a>

           <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= params[:video_group_id] %>&game=<%= @no_more_videos_flag? params[:game].to_i : params[:game].to_i + 1 %>">
             <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-fast-forward"></em>
             Next Game
             </button> 
          </a>

        </div>
      <% end %>


    </div>
    <div class="col-md-4 column">
      <div class="panel-group" id="panel-437402">

        <% if defined? @video_group_id %>
        <% if @all_video_groups.empty? %>
          <h3>No SERIES was found</h3>  
          <h4>Please try one of the following sample search terms:</h4>
          <ul>
            <li>DK vs iG G-League 2014</li>
            <li>DotaCinemaVODS </li>
            <li>Dreamhack Grand Finals starcraft 2</li>
            <li>league of legends world championship</li>
          </ul>
        <% end %>

          <% @all_video_groups.each do |vg| %>
              <div class="panel panel-default">
                
                <!-- video groups -->
                <div class="panel-heading clearfix">

                  <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= vg[:id] %>&game=0">
<img src="<%= @video_table.select { |v| v[:video_group_id] == vg[:id] }.first[:video_thumbnails_url] %>">
                  </a>

                  <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= vg[:id] %>&game=0">
                    <%= "#{vg[:group_title]}, contains: #{vg[:video_count]} video(s)" %>
                  </a>  

                  <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-437402" href="#panel-element-<%=vg[:id]%>"><span class="glyphicon glyphicon-eye-open"></span></a>
                </div>
                
                <!-- videos in the group -->

                <div id="panel-element-<%=vg[:id]%>" class="panel-collapse collapse"> 

                  <div class="panel-body">
                  (video_group_id = <%= vg[:id] %>) <br>

<% @video_table.select { |v| v[:video_group_id] == vg[:id] }.each do |video| %>  
                    <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= vg[:id] %>&game=<%= str=video[:video_title_game]; str.match(/[Gg]ame (\d+)/).captures[0].to_i - 1 unless str.nil? %>"><%= video[:video_title_game] %></a> <br>
                  <% end %>
                  </div>

                </div>

              </div>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>


<!-- for development -->
<div class="video_entry_container"> 
  <% if defined? @all_other_videos %>
    <h3>Related videos</h3>
    <% @all_other_videos.each do |video| %>
      <div class="video_entry clearfix"> 
          <a href="/show-me-groups/video/link/<%= video[:video_id] %>">
            <img src="<%= video[:video_thumbnails_url] %>">
          </a>   
          <a href="/show-me-groups/video/link/<%= video[:video_id] %>"><%= video[:video_title] %></a> <br>

      </div>
    <% end %>
  <% end %>
</div>



        <div class="box_below_main"> 

          <% if defined? @all_video_groups %>
            <h3>Related videos, grouped</h3>
            <% @all_video_groups.each do |vg| %>
              <a href="/show-me-groups/video/link/<%= @video_id %>?video_group_id=<%= vg[:id] %>&game=0">
              <h3><%= "#{vg[:group_title]}, contains: #{vg[:video_count]} video(s)" %></h3>
              </a>  
<img src="<%= @video_table.select { |v| v[:video_group_id] == vg[:id] }.first[:video_thumbnails_url] %>">
            <% end %>
          <% end %>

        </div>


<div class="video_entry_container2"> 
  <% if defined? @video_group_id %>
    <h3>videos in the group</h3>
    atm, the main video is not changed 
    <h4>video_group_id = <%= @video_group_id %></h4>

    <% @related_videos.each do |video| %>
      <div class="video_entry clearfix"> 
            <img src="<%= video[:video_thumbnails_url] %>">
          <%= video[:video_title] %> <br>
      </div>
    <% end %>
  <% end %>
</div>
<!-- end for development -->


</div>